body {
  font-family: "Hind", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #343434;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

footer {
  background-color: #343434 !important;
  color: #f4f4f4 !important;
  padding: 20px 0;
}

h1 {
  color: #343434;
  letter-spacing: 1.5rem;
}

p {
  color: #343434;
  font-family: "Halant", serif;
  font-size: 1.5rem;
}

main {
  flex: 1;
}

.menu-container {
  background-image: url("../img/dia 08 - 17 abril - sitges/dia08-20.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10rem;
  margin: 0;
  filter: grayscale(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.title-menu {
  text-align: center;
}

.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: #f4f4f4;
  padding: 14px 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f4f4f4;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  text-align: left;
}

.dropdown-content a {
  color: #343434;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: 1px solid #343434;
  margin: 5px;
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #343434;
  background-color: #f4f4f4;
}

span {
  padding: 0 1.5rem;
  color: #f4f4f4;
  font-family: "Hind", sans-serif;
}

.dropdown-container span a {
  color: #f4f4f4;
  text-decoration: none;
  padding: 0 30px;
}

.dropdown-container span a:hover {
  color: #343434;
  background-color: #f4f4f4;
}

.images-menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.images-menu-container a {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  flex: 1 0 calc(33.33% - 2px);
  max-width: calc(33.33% - 2px);
  margin: 1px;
  height: auto;
  display: block;
}

.images-menu-container a img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.images-menu-container a:after {
  content: attr(alt);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(244, 244, 244, 0.8);
  color: #343434;
  display: none;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 1rem;
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Halant", serif;
}

.images-menu-container a:hover::after {
  display: flex;
}

.images-menu-container a:hover img {
  transform: scale(1.01);
  transition: transform 0.3s ease;
}

@media (max-width: 1200px) {
  .images-menu-container a {
    flex: 1 0 calc(50% - 2px);
    max-width: calc(50% - 2px);
  }
}

@media (max-width: 768px) {
  .images-menu-container a {
    flex: 1 0 calc(100% - 2px);
    max-width: calc(100% - 2px);
  }
}

.day-title {
  background-color: #343434;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  padding-bottom: 3rem;
}

.day-title h1 {
  color: #f4f4f4;
  font-size: 2.5rem;
  letter-spacing: 2rem;
  margin: 0 200px;
}

.day-title p {
  color: #f4f4f4;
  font-family: "Hind", sans-serif;
}

.day-title .day-description {
  font-family: "Halant", serif;
  color: #f4f4f4;
}

.day-description {
  font-size: 1rem;
  margin: 0 200px;
  text-align: left;
}

.images-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images-gallery img {
  max-width: calc(33.33% - 2px);
  margin: 0;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.images-gallery img:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f4f4f4;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #f4f4f4;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

@media (max-width: 1200px) {
  .images-menu-container a {
    flex: 1 0 calc(50% - 2px);
    max-width: calc(50% - 2px);
  }

  .images-gallery img {
    max-width: calc(50% - 2px);
  }

  .day-description {
    margin: 0 100xp;
  }
}

@media (max-width: 768px) {
  .images-menu-container a {
    flex: 1 0 calc(100% - 2px);
    max-width: calc(100% - 2px);
  }

  .images-gallery img {
    max-width: calc(100% - 2px);
  }

  .day-description {
    margin: 0 50px;
  }

  .day-title h1 {
    font-size: 1.5rem;
    margin: 0 50px;
  }
}

.main-menu {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
}

.main-menu a {
    text-decoration: none;
    color: inherit;
}

.video-container p {
    font-size: 1rem;
}

.video-container {
    margin-top: 50px;
}

.day-description-videos { 
    text-align: center;
    font-size: 1rem;
    font-family: 'Hind', sans-serif;
}

